.custom-dropdown {
  height: auto;
  position: relative;
}

.custom-dropdown-toggler {
  padding: 0.2rem 0.65rem;
  border: none;
  background-color: transparent;
  color: $primary;
  border-left: 1px solid rgb(114, 114, 114);
  border-right: 1px solid rgb(114, 114, 114);
}

.custom-dropdown-toggler:active {
  color: $accent;
}

.custom-dropdown-menu {
  padding: 0 !important;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  background-color: white;
}

.custom-dropdown-menu-item {
  width: 100px;
  padding: 0.4rem 0.8rem;
  color: $accent;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.custom-dropdown-menu-item:active {
}
