.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  overflow: hidden;
}

.custom-modal__main {
  position: relative;
  background: transparent;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

.custom-modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2rem;
  margin-right: 2rem;
  background: transparent;
  border: 1px solid #f1f1f1;
}
