.side-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light;
  z-index: 9999;
  display: none;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
  @extend .shadow-sm;
}

.side-nav.open {
  transform: translateX(0);
}

.side-nav__toggle {
  align-self: stretch;
}

@media (max-width: 425px) {
  .side-nav {
    width: 75%;
  }
}
