.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background-color: $light;
  z-index: 9999;
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
  @extend .shadow-sm;
}

.side-nav.open {
  transform: translateX(0);
}

.side-nav__toggle {
}
.side-nav__content {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 4rem 4rem;
}

@media (max-width: 425px) {
  .side-nav {
    width: 75%;
  }
}
