// Subnavigation styles

.subcategory-nav {
  width: 100%;
  background-color: $dark;
  text-align: center;
  //   overflow: hidden;
}

.subcategory-nav__container {
  display: flex;
  position: relative;
  //   display: block;
  width: 100%;
  justify-content: space-between;
  //   align-items: stretch;
  @extend .container;
}

.category {
  //   height: 50px;
  flex: 1 0 auto;
  position: relative;
  //   padding: 19px 35px;
  //   display: inline-block;
  //   display: flex;
}
.category:hover::after,
.category:focus::after,
.category:active::after {
  width: 100%;
  height: 100%;
}

.category::after {
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  z-index: 1;
  position: absolute;
  transition: all 500ms ease;
  transform: skew(30deg);
  background: linear-gradient(-30deg, #88b4e1 30%, #f39fae 80%);
}

.category__link {
  width: auto;
  height: auto;
  display: block;
  color: $light;
  font-size: 0.75rem;
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  position: relative;
  z-index: 2;
}

.category__link:hover,
.category__link:focus,
.category__link:active {
  color: $light;
}

.category__menu {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 400px;
  background-color: $light;
  border-bottom: 2px solid red;
  @extend .container-fluid;
  position: absolute;
  left: 0;
  bottom: 0;
}

.category__menu-content {
  @extend .container;
}

.hover {
  visibility: visible;
  opacity: 1;
  z-index: 1800;
}
