.mega-menu {
  width: 100%;
  background-color: $dark;

  .tab-list {
    margin-bottom: 0 !important;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    @extend .container;
  }

  .tab {
    flex: 1 0 auto;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      top: 0;
      left: 0;
      width: 0%;
      height: 0%;
      z-index: 1;
      position: absolute;
      transition: all 500ms ease;
      transform: skew(30deg);
      background: linear-gradient(-30deg, #88b4e1 30%, #f39fae 80%);
    }
  }

  .tab-link {
    width: auto;
    height: auto;
    display: block;
    color: $light;
    font-size: 0.75rem;
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    position: relative;
    z-index: 2;
    &:hover,
    &:focus,
    &:active {
      color: $light;
    }
  }

  .tab.active {
    &::after,
    &::after,
    &::after {
      width: 100%;
      height: 100%;
    }
  }
  .tab:hover::after,
  .tab:focus::after,
  .tab:active::after {
    width: 100%;
    height: 100%;
  }
}
