// TODO Fix Menu Navigation Naming
.mega-menu {
  width: 100%;
  background-color: $dark;
  position: relative;
  .tab-content__container {
    position: relative;
  }
  .custom-modal {
    position: absolute !important;
    top: 100%;
    left: 0;
    z-index: 2;
  }

  .tab-list {
    margin-bottom: 0 !important;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    @extend .container;
  }

  .tab {
    flex: 1 0 auto;
    position: relative;
    border: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
    @extend .btn;
    &:focus {
      box-shadow: none !important;
    }
    &::after {
      content: "";
      top: 0;
      left: 0;
      width: 0%;
      height: 0%;
      z-index: 3;
      position: absolute;
      transition: all 500ms ease;
      transform: skew(30deg);
      background: linear-gradient(-30deg, #88b4e1 30%, #f39fae 80%);
    }
  }

  .tab-link {
    width: auto;
    height: auto;
    display: block;
    color: $light;
    font-size: 0.75rem;
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    position: relative;
    z-index: 4;
    &:hover,
    &:focus,
    &:active {
      color: $light;
    }
  }

  .tab.active {
    &::after,
    &::after,
    &::after {
      width: 100%;
      height: 100%;
    }
  }
  .tab:hover::after,
  .tab:focus::after,
  .tab:active::after {
    width: 100%;
    height: 100%;
  }
  .tab-content {
    visibility: hidden;
    opacity: 0;
    height: 400px;
    width: 100%;
    background-color: $light;
    position: absolute;

    z-index: 1800;
    // to be remeoved style a created content wrapper instead
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    // ------
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to left, #88b4e1 30%, #f39fae 80%);
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
