@font-face {
  font-family: "Afrah";
  src: local("Afrah"), url(../../fonts/Afrah-Bold.ttf) format("truetype");
}
.imagewrapper {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
}
.clip-image-left {
  background: url(../../assets/images/imgwomen.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  flex: 50%;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  margin-right: -10%;
}

.clip-image-right {
  background: url(../../assets/images/imgmen.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  flex: 50%;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
  margin-left: -2%;
}

.slogan-container {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 7px;
  margin-top: -350px;
  z-index: 1000;
}
.slogan-wrapper {
  width: 25%;
  background-color: white;
  margin: 0 auto;
  z-index: 1000;
  padding: 5px;
}
.slogan-title {
  color: #01010c;
  font-size: 34px;
  font-family: Afrah, serif;
}
.slogan-description {
  color: #646464;
  font-size: 14px;
  text-transform: uppercase;
}

.text-color {
  color: #f39fae;
}
.btn-selectcat {
  // width: 100%;
  position: relative;
  margin-top: 230px;
  margin-bottom: 100px;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.btn-selectcat button {
  border: none;
  width: 150px;
  height: 50px;
  font-size: 15px;
  font-weight: bolder;
}
.btn-man {
  background: #fbfbfb;
  margin-left: 40%;
  flex: -50%;
}
.btn-woman {
  background-color: #01010c;
  color: #f39fae;
  margin-left: 20%;
  flex: -50%;
}
.banner-section {
  width: 100%;
  height: 100px;
  background-color: #88b4e1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: -90px;
}

.sec_easydelivery {
  padding: 10px;
  flex: 45%;
}

.sec_uniquedesigns {
  padding: 10px;
  flex: 45%;
}
.sec {
  display: flex;
}
.sec {
  img {
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 25px;
  }
}
.banner_txtcontainer {
  p {
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: $light;
  }
}
.sec1 {
  margin: 10px 10px 10px 20%;
  display: flex;
}
.sec1 {
  img {
    margin-top: 10px;
    width: 35px;
    height: 35px;
  }
  p {
    margin-top: 15px;
  }
}
.sec2 {
  margin: 10px 5px 10px 20%;
  display: flex;
}
.sec2 {
  p {
    margin-top: 5px;
  }
}
.boxwrapper {
  width: 100%;
  height: 300px;
  margin-bottom: 60px;
  position: relative;
}
.videobox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.videobox video {
  width: 100%;
  height: auto;
}

.overlaybox {
  width: 100%;
  height: auto;
  z-index: 999;
}
.txt_quickhass {
  font-size: 30px;
  font-family: Afrah, serif;
}

.btn-shopnow {
  width: 150px;
  height: 50px;
  border: none;
  color: #01010c;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 60%;
}
.video-content {
  padding-top: 100px !important;
  height: 300px;
}

// reduce for general screens
@media (max-width: 768px) {
  .clip-image-right {
    background: url(../../assets/images/imgmen.webp);
    background-repeat: no-repeat;
    background-position: -10px -50px;
    background-size: cover;
    flex: 100%;
    clip-path: inset(0 0 0 0);
    margin-right: -20px;
  }
  .clip-image-left {
    background: url(../../assets/images/imgwomen.webp);
    background-repeat: no-repeat;
    background-position: -10px -90px;
    background-size: cover;
    flex: 100%;
    clip-path: inset(0 0 0 0);
    margin-right: -20px;
  }
  .slogan-container {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 7px;
    margin-top: -350px;
    z-index: 1000;
  }
  .slogan-wrapper {
    width: 29%;
    background-color: white;
    margin: 0 auto;
    padding: 2px;
    display: none;
  }
  .slogan-title {
    font-size: 20px;
  }
  .slogan-description {
    font-size: 7px;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .btn-selectcat {
    // width: 100%;
    position: relative;
    z-index: 999;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .btn-man {
    width: 100px;
    height: 40px;
    margin-left: -30%;
    margin-top: 5%;
    flex: -100%;
  }
  .btn-woman {
    width: 100px;
    height: 40px;
    margin-top: -60%;
    margin-left: 40%;
    flex: -100%;
  }

  .sec1 {
    p {
      margin-top: 8px;
      font-size: 11px;
    }
  }
  .sec2 {
    p {
      font-size: 10px;
    }
  }
  .videobox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .overlaybox {
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  .txt_quickhass {
    font-size: 16px;
  }

  .btn-shopnow {
    width: 90px;
    height: 40px;
    border: none;
    color: #01010c;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    border-radius: 60%;
  }
  .videobox video {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  .video-content {
    padding-top: 100px !important;
  }
}
// // test scaling forgeneral  ipad landscape and portrait
@media only screen and (device-width: 768px) {
  .btn-man {
    width: 100px;
    height: 40px;
    margin-left: -17%;
    margin-top: 3%;
    flex: -100%;
  }
  .btn-woman {
    width: 100px;
    height: 40px;
    margin-top: -60%;
    margin-left: 40%;
    flex: -100%;
  }
  .banner-section {
    width: 100%;
    height: 100px;
    background-color: #88b4e1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: -66px;
  }
  .sec {
    img {
      width: 30px;
      height: 30px;
    }
  }
  .sec1 {
    p {
      font-size: 14px;
    }
  }
  .sec2 {
    p {
      font-size: 13px;
    }
  }
}
// change scaling 320px width size
@media only screen and (device-width: 320px) {
  .btn-man {
    width: 80px;
    height: 40px;
    margin-top: 10%;
    margin-left: -45%;
    flex: -100%;
  }
  .btn-woman {
    width: 80px;
    height: 40px;
    margin-top: -80%;
    margin-left: 30%;
    flex: -100%;
  }
  .sec {
    img {
      width: 20px;
      height: 20px;
    }
  }
  .banner-section {
    width: 100%;
    height: 100px;
    background-color: #88b4e1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: -75px;
  }
  .sec1 {
    p {
      font-size: 9px;
    }
  }
  .sec2 {
    p {
      font-size: 9px;
      font-weight: bolder;
    }
  }
  .txt_quickhass {
    font-size: 12px;
  }
  .btn-shopnow {
    width: 60px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    border-radius: 60%;
  }
}
@media only screen and (device-width: 411px) {
  .btn-man {
    width: 80px;
    height: 40px;
    margin-left: -30%;
    margin-top: 10%;
    flex: -100%;
  }
  .btn-woman {
    width: 100px;
    height: 40px;
    margin-top: -90%;
    margin-left: 30%;
    flex: -100%;
  }
  .banner-section {
    width: 100%;
    height: 100px;
    background-color: #88b4e1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: -85px;
  }
  .sec {
    img {
      width: 30px;
      height: 30px;
    }
  }
  .sec1 {
    p {
      font-size: 11px;
    }
  }
  .sec2 {
    p {
      font-size: 9px;
    }
  }
  .txt_quickhass {
    font-size: 12px;
  }
  .btn-shopnow {
    width: 60px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    border-radius: 60%;
  }
}
@media only screen and (device-width: 414px) {
  .btn-man {
    width: 80px;
    height: 40px;
    margin-left: -30%;
    margin-top: 10%;
    flex: -100%;
  }
  .btn-woman {
    width: 100px;
    height: 40px;
    margin-top: -100%;
    margin-left: 30%;
    flex: -100%;
  }
  .banner-section {
    width: 100%;
    height: 100px;
    background-color: #88b4e1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: -86px;
  }
  .sec {
    img {
      width: 30px;
      height: 30px;
    }
  }
  .sec1 {
    p {
      font-size: 11px;
    }
  }
  .sec2 {
    p {
      font-size: 9px;
    }
  }
  .txt_quickhass {
    font-size: 12px;
  }
  .btn-shopnow {
    width: 60px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    border-radius: 60%;
  }
}

@media only screen and (device-width: 375px) {
  .btn-man {
    width: 80px;
    height: 40px;
    margin-left: -39%;
    margin-top: 5%;
    flex: -100%;
  }
  .btn-woman {
    width: 100px;
    height: 40px;
    margin-top: -100%;
    margin-left: 30%;
    flex: -100%;
  }
  .banner-section {
    width: 100%;
    height: 100px;
    background-color: #88b4e1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: -62.5px;
  }
  .sec1 {
    p {
      font-size: 9px;
    }
  }
  .sec2 {
    p {
      font-size: 9px;
      font-weight: bolder;
    }
  }
}
@media only screen and (device-width: 360px) {
  .btn-man {
    width: 80px;
    height: 40px;
    margin-left: -39%;
    margin-top: -10%;
    flex: -100%;
  }
  .btn-woman {
    width: 100px;
    height: 40px;
    margin-top: -100%;
    margin-left: 30%;
    flex: -100%;
  }
  .banner-section {
    width: 100%;
    height: 100px;
    background-color: #88b4e1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: -10px;
  }
  .sec2 {
    margin: 10px 20px 10px 20px;
    display: flex;
  }
  .sec {
    img {
      width: 20px;
      height: 20px;
    }
  }
  .sec1 {
    p {
      font-size: 11px;
    }
  }
  .sec2 {
    p {
      font-size: 10px;
    }
  }
  .txt_quickhass {
    font-size: 12px;
  }
  .btn-shopnow {
    width: 60px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    border-radius: 60%;
  }
}
@media only screen and (device-width: 280px) {
  .btn-man {
    width: 80px;
    height: 40px;
    margin-left: -50%;
    margin-top: 5%;
    flex: -100%;
  }
  .btn-woman {
    width: 100px;
    height: 40px;
    margin-top: -100%;
    margin-left: 30%;
    flex: -100%;
  }
}

