// Main Footer
.footer {
  width: 100%;
  height: auto;
  padding: 1.4rem 0;
  background-color: $light;
}

.footer-group__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-group {
  align-self: stretch;
  padding: 0.28rem 0.65rem;
  flex: 1 0 250px;
}

.footer-group__header {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -1px;
  word-spacing: 0.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-group__lead {
  font-size: 0.8rem;
}
.footer-group__item {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}

.footer-group__item:focus,
.footer-group__item:hover {
  color: $primary;
}

.footer-group__input {
  width: 100%;
  display: block;
  border: 1px solid #ced4da;
  margin: 0.6rem 0;
  padding: 0.4rem 0.4rem;
  font-size: 1rem;
}

.footer-group__submit {
  outline: none;
  display: block;
  // font-size: 0.6rem;
  padding: 0.48rem 3.5rem;
  font-weight: 500;
  border: none;
  text-transform: lowercase;
  background: $dark;
  color: $light;
  border-radius: 0.2rem;
  cursor: pointer;
}

// Footer icon section
.footer-icons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 2rem 0;
  padding: 0.2rem 1rem;
}
.footer-icons__payment,
.footer-icons__social {
  display: flex;
  align-items: center;
  flex: 1;
}

.footer-icons__social {
  .footer-icon {
    margin-right: 3rem;
    @media (max-width: 768px) {
      margin: 0;
    }
  }
}
.footer-icons__payment {
  justify-content: flex-end;
  .footer-icon__img {
    margin-left: 3rem;
    @media (max-width: 768px) {
      margin: 0;
    }
  }
}
.footer-icon__img {
  width: 1.95rem;
  height: auto;
}

@media (max-width: 768px) {
  .footer-icons {
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
  }
  .footer-icons__social {
    margin-bottom: 1.2rem;
  }
  .footer-icons__payment,
  .footer-icons__social {
    width: 100%;
    justify-content: space-between;
  }
}

// Footer copyright / legal section
.footer-footnote,
.footnote__items {
  display: flex;
  font-size: 0.6rem;
}
.footnote__copyright,
.footnote__items {
  margin: 0.2rem 0;
}
.footer-footnote {
  flex-wrap: wrap;
  font-weight: 600;
  padding: 0.25rem 1rem;
  color: $dark;
  background: #fbfbfb;
}
.footnote__copyright {
  flex: 2 0 50%;
}
@media (max-width: 998px) {
  .footnote__copyright {
    flex: 1 0 50%;
  }
}
.footnote__items {
  flex: 1 0 50%;
  justify-content: flex-end;
}

.footnote__item {
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .footer-footnote {
    flex-direction: column-reverse;
  }

  .footnote__copyright {
    text-align: center;
  }
  .footnote__items {
    justify-content: center;
  }
}
